doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title = "Hello World!"
    body
        p.greetings#People Hello World!
        p users
        for user in users                
            p user