doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title = "Hello World!"
    body
        p.greetings#People Hello World!
        p users
        ul
            for user in users
                
                li= user.id
                    user.name